html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: #333;
  background-image: url("img/img1.jpg");
  background-color: rgba(248, 248, 248, 0.8);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between; /* 헤더의 로고와 네비게이션을 양쪽 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 20px;
}

header {
  background-color: rgba(248, 248, 248, 0.8);
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

/* h1 내부에 로고와 텍스트를 수평 정렬 */
.header-container h1 {
  display: flex; /* Flexbox로 로고와 텍스트를 한 줄에 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  margin: 0;
  font-family: "Linux Libertine", "Times New Roman", serif;
  font-size: 24px;
}

/* 로고 이미지 스타일 */
.header-container h1 img {
  width: 65px; /* 로고 크기 조정 */
  height: auto; /* 원본 비율 유지 */
  margin-right: 10px; /* 로고와 텍스트 사이 간격 */
}

/* 텍스트 스타일 */
.header-container h1 a {
  text-decoration: none;
  color: #000;
  margin-left: 0; /* 기존 마진 제거 */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* 상단 섹션의 레이아웃 설정 */
.top-info-container {
  display: flex;
  justify-content: space-between; /* 좌우로 섹션 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  background-color: rgba(248, 248, 248, 0.8);
}

.mountain-info {
  display: flex; /* Flexbox로 아이콘과 텍스트를 한 줄에 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  margin-left: 30px;
}

.showing-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.mountain-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.date-time-info {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-right: 50px;
}

/* 그리드 설정 */

.sensor-header {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 좌우 가운데 정렬 */
  padding-bottom: 10px; /* 헤더 하단에 약간의 패딩 추가 */
  position: relative; /* ::after 가상 요소를 사용하기 위한 설정 */
}

.sensor-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(204, 204, 204, 0),
    #ccc,
    rgba(204, 204, 204, 0)
  ); /* 양 끝이 살짝 연한 선 */
}

.sensor-data {
  margin-top: 5px;
}

.mountain-icon {
  width: 30px; /* 아이콘 크기를 조정 (원하는 크기로 변경 가능) */
  height: 30px;
  margin-right: 8px; /* 아이콘과 텍스트 사이에 약간의 여백 추가 */
}

.sensor-title {
  font-size: 20px; /* 텍스트 크기 조정 */
  font-weight: bold;
}

.sensor-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 7px;
}

.sensor-temperature,
.sensor-humidity {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.temp-icon,
.humi-icon {
  width: 25px; /* 아이콘 크기를 조정 (원하는 크기로 변경 가능) */
  height: 25px;
  margin-right: 7px;
}

.sensor-temperature span,
.sensor-humidity span {
  font-size: 22px;
}

/* 레이아웃 전체를 담을 컨테이너 */
.layout-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 248, 248, 0.8);
  /* padding-top: 20px; */
  padding-bottom: 230px;
  width: 100%;
}

/* 지도 카드의 크기 설정 */
.map-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  height: 600px;
  width: 50%; /* 지도가 왼쪽에 50% 차지 */
}

/* 센서 카드들을 2열 5행으로 배치 */
.sensor-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 설정 */
  grid-template-rows: repeat(5, auto); /* 5행으로 설정 */
  gap: 20px;
  width: 45%; /* 오른쪽에 45% 차지 */
  right: 0;
}

.sensor-card {
  cursor: pointer; /* 마우스를 올렸을 때 포인터 모양으로 변경 */
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%; /* 그리드 셀에 맞게 채우기 */
  height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: rgba(183, 177, 177, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  margin: 10px;
}

.footer-section p {
  margin-top: 50px;
}

.social-icons img {
  width: 44px;
  height: 44px;
  margin: 0 10px;
}

ul.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
